# Generic ignores
*.log
home-assistant.log*
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__
*.sqlite
www/*.png
www/*.jpg

# Ignore folders
.storage
.cloud
.google.token
.vscode
android
config_files
deps
image
tts
scripts/alarm
automations/system/notifications/private
www/fonts
fonts
www/upcoming-media-card-images
www/nspanel
www/community
# Ignore secret file
secrets.yaml
